body{
  background-color: #e9e9e9;
}
#header-content{
  text-align: center;
  font-family: helvetica, sans-serif;
}
#titleHR{
  width:60%;
  border:1px solid purple;
}
.caption-img-container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 5px;
}
.screenshot{
  height:300px;
  width:610px;
  margin-left: 8px;
}
.caption{
  font-family: helvetica, sans-serif;
  font-size:15px;
  text-align:center;
  margin-left: 8px;
  margin-top: -6px;
  background-color: white;
  width:98.2%;
}
